body {
    background-color: #841617;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.signup-container {
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.signup-container h2 {
    margin-top: 5px;
    margin-bottom: 25px;
    color: #841617;
    font-weight: bold;
}

.signup-container label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
}

.signup-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-container button {
    background-color: grey;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.signup-container button:hover {
    background-color: #841617;
}

.signup-container backtologinButt{
    color: #841617;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 10px;
    border: 1px solid #000;

}