body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #333;
}

form {
    margin: 20px 0;
}

input[type="text"], input[type="password"], input[type="email"], input[type="date"], input[type="time"], textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #841617;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #841617;
}

/* Profile Picture Section */
#profilePictureForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profilePictureForm input[type="file"] {
    margin: 10px 0;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 4px;
}

.close {
    color: #aaa;
    float: right;
   -size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Section Styles */
section {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-top: 0;
}

/* Followers and Following Lists */
#followersList, #followingList, #creatorsList, #userEvents {
    list-style-type: none;
    padding: 0;
}

followingList li, #creatorsList li, #userEvents li {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.nav-button {
    padding: 10px 20px;
    background-color: #841617; /* Crimson background */
    color: #fff; /* White text */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #6a1213; /* Darker crimson on hover */
}